<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Nikolay Radchenko</title>
</head>
<body>
<h1>{{candidate_name}}</h1>
<img src={{url}} width=400/>
<p>
    Привет, я {{candidate_name}}, я скоро буду {{position}}, а вы попали на <ins>мою страничку!</ins><br>
    <br>
    <em>Мои скиллы:</em> {{skills}}<br>
    <div>
    Здесь ссылка на мой GitHub <mark><a href="https://github.com/NikolayRadchenko">вот она</a></mark><br>
    <br>
    Конечно я оставляю ссылку на мой Vk <mark><a href="https://vk.com/leon_nikolas">тыкать сюда</a></mark><br>
    <br>
    Я на LeetCode конечно есть, <del> но там пусто, потому что я плохо знаю Английский язык</del> но я его не покажу
    </div>
</p>
</body>
</html>